<!-- <div class="contact-form-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" formControlName="name" class="form-input" required>

    <label for="phone" class="form-label">Phone:</label>
    <input type="text" id="phone" formControlName="phone" class="form-input" required>

    <label for="email" class="form-label">Email:</label>
    <input type="email" id="email" formControlName="email" class="form-input" required>

    <button type="submit" class="form-button" [disabled]="!contactForm.valid">Add Contact</button>
  </form>
</div> -->



<div class="container">
  <div class="text">
    Add to Contacts
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="input-data">
        <input type="text" id="name" formControlName="name" class="form-input" required>
        <div class="error-msg" *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
          <div *ngIf="contactForm.get('name')?.errors?.['required']">Name is required.</div>
        </div>
        <div class="underline"></div>
        <label for="name" class="form-label">Name:</label>
      </div>
      <div class="input-data">
        <input type="text" id="phone" formControlName="phone" class="form-input" required>
        <div class="error-msg" *ngIf="contactForm.get('phone')?.invalid && (contactForm.get('phone')?.dirty || contactForm.get('phone')?.touched)">
          <div *ngIf="contactForm.get('phone')?.errors?.['required']">Phone is required.</div>
          <div *ngIf="contactForm.get('phone')?.errors?.['pattern']">Phone number must only contain numbers and '+'.</div>
        </div>
        <div class="underline"></div>
        <label for="phone" class="form-label">Phone:</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data">
        <input type="email" id="email" formControlName="email" class="form-input" required>
        <div class="error-msg" *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
          <div *ngIf="contactForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="contactForm.get('email')?.errors?.['email']">Invalid email format.</div>
        </div>
        <div class="underline"></div>
        <label for="email" class="form-label">Email:</label>
      </div>
    </div>
    <button type="submit" class="btn blue-btn" role="button" [disabled]="!contactForm.valid">Add Contact</button>
  </form>
  
</div>

